/*====================
Universal Styling
======================*/

*{
margin: 0;
padding: 0;
border: 0;
}

header {
    background-color: white;
    color: #4E6C81;
    padding: 10px ;
    width: 100%;
    position: fixed;
    z-index: 99;
    text-align: center;

}

header a{
color: #4E6C81;
text-decoration: none;
width: 100%;
top: 10px;
font-family: sans-serif;
}

header li{
  display: inline-block;
  margin: 0 80px 0 0px;
}

nav {
    display: inline-block;
}

header nav a:hover{
  color: #F0C9C6
}

main.container {
    max-width: 900px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.icon{
  padding-right: 20px;
}


p{
  font-family: 'Raleway', sans-serif;
}

span.Rabbit {
    font-weight: bold;
    font-size: 20px;
    color: #83a58d;
    display: block;
}

img.Bunny {
    float: left;
    margin: 0 20px 0 0;

}

.bottom p::first-letter{
  font-size: 24px;
  font-style: italic;
}

h2 {
  font-family: 'Raleway', sans-serif;
}


/*==================
  Hover Styling
  ==================*/





/*==================
  Position Section Styling
  ==================*/

section.Banner.Header {
    position: relative;
}

.header p, h1 {
  position: absolute;
  text-align: center;
  color: #4E6C81;
  font-family: 'Raleway', sans-serif;

}

h1{
font-weight: bold;
margin-left: 300px;
margin-top: 100px;
font-size: 50px;

}

.header p{
  margin-left: 250px;
  margin-top: 190px;
  font-size: 20px;

}

section .toppart{
  max-width: 600px;
  padding-top: 20px;
}


.top{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 400px;
  margin-top: 40px;
  padding: 75px;
  max-width: 200px;
}
.topimage{
  position: absolute;
  margin-left: 200px;
}


.middleimage{
  position: absolute;
  margin-left: 200px;
}

.middle{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 400px;
  margin-top: 60px;
  padding: 75px;
  max-width: 200px;
}

.bottomimage{
  position: absolute;
  margin-left: 200px;
}

.bottom{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 400px;
  margin-top: 80px;
  padding: 75px;
  max-width: 200px;
}
.aboutbutton, .artbutton, .digitalbutton{
  padding: 20px;
  background-color: white;
  color: #4E6C81;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  }

/*==================
  Animation Styling
  ==================*/


/*==================
  Form Styling
  ==================*/

.contact-form{
  background-color: #f0c9c6;
  padding: 20px;
  max-width: 400px;
  color: white;
  font-family: sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
}

.label_input_wrap{
  display: block;
}

.submit input{
  background-color: #4e6c81;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  display: inline;
  width: 200px;
  margin-top: 10px;
}

.input_section{
  margin-bottom: 10px;
}

input{
  padding: 5px 10px;
  width: 350px;
  margin: auto;
}
