/*====================
Universal Styling
======================*/

*{
margin: 0;
padding: 0;
border: 0;
}

header {
    background-color: white;
    color: #4E6C81;
    padding: 10px ;
    width: 100%;
    position: fixed;
    z-index: 99;
    text-align: center;

}

header a{
color: #4E6C81;
text-decoration: none;
width: 100%;
top: 5px;
font-family: sans-serif;
}

header li{
  display: inline-block;
  margin: 0 60px 0 0px;
}

nav {
    display: inline-block;
}

header nav a:hover{
  color: #F0C9C6
}

main.container {
    max-width: 900px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

.icon{
  padding-right: 20px;
}


p{
  font-family: 'Raleway', sans-serif;
}


.bottom p::first-letter{
  font-size: 24px;
  font-style: italic;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #4E6C81;
  padding: 20px;
}

footer{
  background-color: #D1D2D4

}

/*==================
  Hover Styling
  ==================*/

.bottomimage:hover{
    opacity: .1;
    transition: 2s
  }

  .topimage:hover{
      opacity: .1;
      transition: 2s
    }

.middleimage:hover{
        opacity: .1;
        transition: 2s
      }


/*==================
  Position Section Styling HomePage
  ==================*/

section.Banner.Header {
    position: relative;
}

.header p, h1 {
  position: absolute;
  text-align: center;
  color: #4E6C81;
  font-family: 'Raleway', sans-serif;

}

h1{
font-weight: bold;
margin-left: 300px;
margin-top: 100px;
font-size: 50px;

}

.header p{
  margin-left: 250px;
  margin-top: 190px;
  font-size: 20px;

}

section.topart, .middleart, .bottomart{
  padding: 50px 0 50px 0;
}


.top{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 425px;
  margin-top: 40px;
  padding: 75px;
  max-width: 250px;
  animation: flyinleft;
  animation-duration: 2s;
}
.topimage{
  position: absolute;
  margin-left: 175px;
  animation: flyinright;
  animation-duration: 2s;
}


.middleimage{
  position: absolute;
  margin-left: 175px;
  animation: flyinright;
  animation-duration: 2s;
}

.middle{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 425px;
  margin-top: 60px;
  padding: 75px;
  max-width: 250px;
  animation: flyinleft;
  animation-duration: 2s;
}

.bottomimage{
  position: absolute;
  margin-left: 175px;
  animation: flyinright;
  animation-duration: 2s;
}

.bottom{
  position: relative;
  background-color: #4E6C81;
  color: white;
  text-align: center;
  margin-left: 425px;
  margin-top: 60px;
  padding: 75px;
  max-width: 250px;
  animation: flyinleft;
  animation-duration: 2s;
}
.aboutbutton, .artbutton, .digitalbutton{
  padding: 20px;
  background-color: white;
  color: #4E6C81;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  }

button{
  padding: 20px;
  background-color: white;
  color: #4E6C81;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
}

button:hover{
  color: #d1a7c4
}

.brands{
  padding-top: 50px;
}



/*==================
  About Page Styling
  ==================*/
section.abouttop1, .about2 {
      padding: 10px 100px 200px 50px;
  }

.headshot {
    float: left;
    margin: 0 20px 0 0;
}

.drawing {
    float: right;
    margin: 0 0 0 20px;

}
/*==================
  Animation Styling
  ==================*/


@keyframes flyinleft {
  from{
    transform: translateX(175px);
  }

  to{
    transform: translateX(0px);
  }
}

@keyframes flyinright {
  from{
    transform: translateX(-175px);
  }

  to{
    transform: translateX(0px);
  }
}

/*==================
  Form Styling
  ==================*/

.contact-form{
  background-color: #f0c9c6;
  padding: 20px;
  max-width: 400px;
  color: white;
  font-family: sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
}

.label_input_wrap{
  display: block;
}

.submit input{
  background-color: #4e6c81;
  color: white;
  font-family: sans-serif;
  padding: 5px;
  display: inline;
  width: 200px;
  margin-top: 10px;
}

.input_section{
  margin-bottom: 10px;
}

input{
  padding: 5px 10px;
  width: 350px;
  margin: auto;
}
